*{
	margin: 0;
	padding: 0;
	font-family: Segoe UI;
	color: black;
}
ul.top {
    list-style-type: none;  
    width: 100%;
    height: 70px;
    margin:0;
    background-color: black;
    z-index: 50;
    clear: right;
    text-decoration: none;
    color: white;
    overflow: hidden;
}
ul.top li {float: left;}
ul.top li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 24px 20px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
}
ul.top li a:hover {background-color: #000066;}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;	
    width: 100%;
    background-color: #000066;
  	z-index: 50;
    margin: 0;
  	clear: right;
  	position: relative;
  	text-decoration: none;
  	color: white;
    overflow: hidden;
}
 
/* Float the list items side by side */
ul.topnav li {float: left;}
 
/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
}

 
/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #111;}

ul #mudun{
	display:inline-block;
}
 
/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* Saat lebar layar kurang dari 680 pixel, sembunyikan semua menu item kecuali item yang pertama yaitu("Home"). Tampilkan juga list item yang berisi link untuk membuka menu yaitu (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}
 
/* Class dengan nama "responsive" akan ditambahkan oleh JavaScript saat user mengklik icon. Munculnya Class ini akan mendisplay isi list menu 
*/
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
.pesansekarang {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-webkit-border-top-left-radius:18px;
	-moz-border-radius-topleft:18px;
	border-top-left-radius:18px;
	-webkit-border-top-right-radius:18px;
	-moz-border-radius-topright:18px;
	border-top-right-radius:18px;
	-webkit-border-bottom-right-radius:18px;
	-moz-border-radius-bottomright:18px;
	border-bottom-right-radius:18px;
	-webkit-border-bottom-left-radius:18px;
	-moz-border-radius-bottomleft:18px;
	border-bottom-left-radius:18px;
	text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	height:48px;
	line-height:48px;
	width:97px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
	margin:400px 0 40px  400px;
}
.pesansekarang:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.pesansekarang:active {
	position:relative;
	top:1px;
}

img.gambarloren	{
	height:60%;
	width:60%;
	float:center;
	margin:8px 4px 4px 8px;
	border-radius: 10px;
}

.container_Utama{
	background-color: #CEEAFF;
	z-index: 49;
	position: relative;
    clear: both;
}

.logo{
  width: 50px;
  height: 50px;
  margin: 2% 4%;
  border-radius: 60px;
}

.kaki{
  background-color: #000066;
}



@keyframes slidy {
0% { left: 0%; }
15% { left: 0%; }
24% { left: -100%; }
40% { left: -100%; }
48% { left: -200%; }
65% { left: -200%; }
72% { left: -300%; }
90% { left: -300%; }
96% { left: -400%; }
100% { left: -400%; }

}

body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  height: 100%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}








