*{
	margin: 0;
	padding: 0;
	font-family: Segoe UI;
	color: black;
}
ul.top {
    list-style-type: none;  
    width: 100%;
    height: 70px;
    margin:0;
    background-color: black;
    z-index: 50;
    clear: right;
    text-decoration: none;
    color: white;
    overflow: hidden;
}
ul.top li {float: left;}
ul.top li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 24px 20px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
}
ul.top li a:hover {background-color: #000066;}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;	
    width: 100%;
    background-color: #000066;
  	z-index: 50;
    margin: 0;
  	clear: right;
  	position: relative;
  	text-decoration: none;
  	color: white;
    overflow: hidden;
}
 
/* Float the list items side by side */
ul.topnav li {float: left;}
 
/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
}

 
/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #111;}
 
/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* Saat lebar layar kurang dari 680 pixel, sembunyikan semua menu item kecuali item yang pertama yaitu("Home"). Tampilkan juga list item yang berisi link untuk membuka menu yaitu (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}
 
/* Class dengan nama "responsive" akan ditambahkan oleh JavaScript saat user mengklik icon. Munculnya Class ini akan mendisplay isi list menu 
*/
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}




.bgUtama{
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100% auto;
}

.container_Utama{
	background-color: #CEEAFF;
	z-index: 49;
	position: relative;
  clear: both;
}

.logo{
  width: 50px;
  height: 50px;
  margin: 2% 4%;
  border-radius: 60px;
}

.kaki{
  background-color: #000066;
}



@keyframes slidy {
0% { left: 0%; }
15% { left: 0%; }
24% { left: -100%; }
40% { left: -100%; }
48% { left: -200%; }
65% { left: -200%; }
72% { left: -300%; }
90% { left: -300%; }
96% { left: -400%; }
100% { left: -400%; }

}

body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  height: 100%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}
