.pesansekarang {
	border-radius:10px;
	color:black;
	font-family:Times New Roman;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
	height:100%;
	line-height:48px;
	width:100%;
	text-decoration:none;
	text-align:center;
	margin:120px 0 140px  0;
}
.pesansekarang:hover {
	color:yellow;
	background-color:#378de5;
	text-decoration:none;
}.pesansekarang:active {
	position:relative;
	top:1px;
}

img.gambarloren	{
	height:60%;
	width:60%;
	float:center;
	margin:8px 4px 4px 8px;
	border-radius: 10px;
}

.klikorder{
	
	font-size:30px;
	display:inline;
	color:#000000;
	padding: 7px;
	border-radius:3px;
	margin: 20px 0 0 0;
}
.klikorder td {
	padding: 10px 10px 10px 10px;
}